<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>snapdeal home page </title>
<script src="https://cp10.premiummod.com/wp-includes/js/jquery/jquery.js"></script>
 <%- include ("css-and-js-include/css-include") %>
</head>
<body class="blog demomode theme-cp home elementor-default">



<div id="wrapper"style="display:none;">
  <%- include ("header-include/header-sidebar") %>
  <main id="page-content-wrapper">
  <%- include ("header-include/header") %>

 

  <section class="hero-text1 position-relative hero-default hero-small text-light  sectionslidertop">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <section class="block-cat-text block-text2  ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;"> <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Mahindra XUV</span> 500</h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> Mahindra XUV500 , So hurry up and don't waste time. Call on +91-7603062051 to win Mahindra XUV500.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 " id="btn-primaryhome" class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="/assets/wp-includes/wp-includes/images/mahindra.webp" class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" alt="scratch card" data-wow-delay="0.8s" src="/assets/wp-includes/images/mahindra.webp" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
        <div class="carousel-item">
          <section class="block-cat-text block-text2 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;"> <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span> </span> Tata Safari</h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">Tata Safari , So hurry up and don't waste time. Call on +91-7603062051 to win Tata Safari.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 " id="btn-primaryhome" class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="/assets/wp-includes/wp-includes/images/safari.png" class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" alt="scratch card" data-wow-delay="0.8s" src="/assets/wp-includes/images/safari.png" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
        <div class="carousel-item">
          <section class="block-cat-text block-text2 section-80 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;"> <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Swift</span> Dezire</h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> Swift Dzire , So hurry up and don't waste time.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 " id="btn-primaryhome" class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="/assets/wp-includes/wp-includes/images/swiftdezire.jpg" class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" alt="scratch card" data-wow-delay="0.8s" src="/assets/wp-includes/images/swiftdezire.jpg" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
    
    
        <div class="carousel-item">
          <section class="block-cat-text block-text2 section-80 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;"> <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Mahindra XUV</span> 500</h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> Mahindra XUV 500 . So hurry up and don't waste time.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 " id="btn-primaryhome" class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="https://www.onlineshopwinner.com/images/banner-1.jpg" class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" alt="scratch card" data-wow-delay="0.8s" src="https://www.onlineshopwinner.com/images/banner-1.jpg" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
        <div class="carousel-item">
          <section class="block-cat-text block-text2 section-80 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;"> <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Suziki</span> R15</h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> Suziki R15 , So hurry up and don't waste time.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 " id="btn-primaryhome" class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="https://www.onlineshopwinner.com/images/banner/banner-3%20(1).jpg" 
                     class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" 
                     alt="scratch card" data-wow-delay="0.8s" src="https://www.onlineshopwinner.com/images/banner/banner-3%20(1).jpg" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
        <div class="carousel-item">
          <section class="block-cat-text block-text2 section-80 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">And many more <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Prizes</span></h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> So hurry up and don't waste time.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 "  id="btn-primaryhome"class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="https://www.onlineshopwinner.com/images/banner/banner-4%20(1).jpg" 
                     class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" 
                     alt="scratch card" data-wow-delay="0.8s" src="https://www.onlineshopwinner.com/images/banner/banner-4%20(1).jpg" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
        <div class="carousel-item">
          <section class="block-cat-text block-text2 section-80 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">And many more <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Prizes</span></h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> So hurry up and don't waste time.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 "  id="btn-primaryhome"class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="/assets/wp-includes/wp-includes/images/new1.png" 
                     class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" 
                     alt="scratch card" data-wow-delay="0.8s" src="/assets/wp-includes/images/new1.png" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
        <div class="carousel-item">
          <section class="block-cat-text block-text2 section-80 ">
            <div class="container">
               <div class="row y-middle">        
                  <div class="col-lg-5 pr-lg-5 text-center text-lg-left">
                     
                                 
                     <div class="text-center text-md-left">
               
               <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">And many more <i class="fal fa-server ml-2 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> <span>Prizes</span></h2>
                     
                           <p class="lead text-dark font- text-500 mb-4 font-weight-bold wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;"> So hurry up and don't waste time.</p> 
                                 
                              
                      
                     
                     </div>         
               
                           
                       <a href="tel:+917603062051 "  id="btn-primaryhome"class="btn rounded-0 font- btn-xl  text-light mt-0  btn-icon icon-after wow fadeInUp" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s;">
           
                 
          Click to call 
                 
             </a>
                    </div>
                  
                   <div class="col-lg-7 pl-lg-5">
                     <img data-src="/assets/wp-includes/wp-includes/images/new2.jpg" 
                     class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" 
                     alt="scratch card" data-wow-delay="0.8s" src="/assets/wp-includes/images/new2.jpg" data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
                  </div>
                  
               </div>
            </div>
         </section>
        </div>
      </div>
      <a class="carousel-control-prev"href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next"href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>
 

 <section id="subscribe2" class="position-relative bg-white block-cat-subscribe block-subscribe2 section-100 " >
    
    
 
  <div class="overlay-innerxx"></div>   
  <div >     
  <div class="container bg-content">
    
          
               <div class="row align-items-center wrapper "> 
                   <div class="col-md-12">
                       <div class="subscribe-form-wrapper text-light">
                           
                                       
           <div class="text-center text-md-center">
     
     <h2 class="mb-2 font- text-dark font-weight-bold text-center">To Check your Prize</h2>
           
                 <p class="lead text-dark font-text-300 mb-4 ">Enter Your Mobile Number</p> 

           <!-- <form  >
            <div class="container">
                <div class="row para-desc d-block mx-auto">
                    <div class="form-group">
                        <input class="form-control" type="number" id="number"  placeholder="">
                
                    </div>
               
                    <div class="form-group">
                  
                     
                  
                      <button type="submit" id="btnsubmit" value="Submit" class="btn btn-block btn-primary py-3" onclick=submitData()>Submit</button>
                    </div>
        
                </div>
            </div>
            </form> -->
            <form >
 
              <div class="input-group">										 
                <input class="form-control" type="number" id="number"  placeholder="">
              <div class="input-group-append">
                <button   type="submit" id="btnsubmit" value="Submit"    class="btn btn-primary px-3"  onclick=submitData()>Check</button>
                <!-- <button type="submit" id="btnsubmit" value="Submit" class="btn btn-block btn-primary py-3" onclick=submitData()>Submit</button> -->
              <script>
              
              </script>
              </div>
              
                 
                                     
                          
                         
                         </div>  
                         </form>
           
            <script>
                // function submitData() {
                //     var number = document.getElementById("number").value;
                //     console.log(number);
                //     window.open("/validate?number="+number)
                // }
                   function submitData() {
                    var number = document.getElementById("number").value;
                    console.log(number);
                    window.open("/validate?number="+number)
                }
            </script>
             
         </div>
                   </div>
                   
                   
               </div>
           </div> 


    </div>  
   
  
</section>
 
 <section id="stores1-carousel-483335814" class="block-cat-store block-stores1  section-top-40 bg-light ">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="clearfix"></div>
                <div class=" mb-4 justify-content-between ">
          <div>
            <h2 class="font-weight-bold mb-0 font- text-dark font-weight-bold text-center ">Payment Options</h2>
            <p class=" mb-5 font- text-dark text-center">Please select one of the below payment option</p>
          </div>
         
        </div>
                <div  class="owl-carousel owl-theme"> 
		
        
        
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon" >
		            <figure style="border: 2px solid #121212;"> <a href="javascript:void(0)">
          
          <img src="https://www.onlineshopwinner.com/images/pay-1.jpg" class="img-fluid" alt="Store Name 3">
           
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
           Paytm         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure style="border: 2px solid #121212;" > <a href="javascript:void(0)">
          
          <img src="https://www.onlineshopwinner.com/images/pay-2.jpg" class="img-fluid" alt="Store Name 2">
           
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
         Phone Pay         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure style="border: 2px solid #121212;"> <a href="javascript:void(0)">
          
          <img src="https://www.onlineshopwinner.com/images/pay-3.jpg" class="img-fluid" alt="Store Name 1">
           
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
        Google Pay         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure style="border: 2px solid #121212;"> <a href="javascript:void(0)">
          
          <img src="https://www.onlineshopwinner.com/images/pay-4.jpg" class="img-fluid" alt="Store Name 4">
           
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
         Bhim upi         </div>
        </div>
                
        <div class="card-search card-zoom card-top-image border-0 card-coupon">
		            <figure style="border: 2px solid #121212;"> <a href="javascript:void(0)">
          
          <img src="/assets/wp-includes/images/pay4.png" class="img-fluid" alt="Store Name 5">
           
            </a> </figure>
                    <div class="card-body  p-0 py-3 text-center">
         Pay Pal        </div>
        </div>
                
  
         
                
        </div>
      </div>
    </div>
  </div>
</section> 
<script> 
jQuery(document).ready(function(){ 
 	
		 
	var owl = jQuery("#stores1-carousel-483335814 .owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
		 
        responsive: {
            0: {
                items: 2
            },
			 
            600: {
                items: 3
            },
			
			 
			
            1000: {
                items: 5            }
        },        
    }); 
	
	owl.owlCarousel();
 
  jQuery("#stores1-carousel-483335814 .next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  jQuery("#stores1-carousel-483335814 .prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })
	
	
	});		 
</script>
<section class="block-cat-text block-text1 bg-white section-80 ">
  <div class="container">
    <div class="row d-flex flex-lg-row-reverse y-middle">
      <div class="col-md-6 pl-xl-5 text-center text-lg-left">
                    
            <div class="text-center text-md-left">
			
			<h4 class="mb-4 font- text-dark font-weight-bold">Welcome to our snapdeal company website</h4>
            
                  <p class="lead text-dark font- text-500 mb-4 font-weight-bold">Save time and money with our scratch codes</p> 
                  <div class="agileits-icon-grid">
                    <h3><strong><span class="su-dropcap su-dropcap-style-default" style="font-size:1em">1.</span></strong><strong></strong><span ><strong>100% SATISFIED CUSTOMERS</strong></span></h3>
                    <p>Our customers are given a chance to be fully satisfied and our company’s agents help them until they are satisfied again.</p>
                    </div>
                   
                  <div class="agileits-icon-grid">
                    <h3><strong><span class="su-dropcap su-dropcap-style-default" style="font-size:1em">2.</span></strong><strong></strong><span ><strong>QUALITY-SERVICE AFFORDABLE PRICE</strong></span></h3>
                    <div class="icon-right">
                    <p>We work to provide our customers with satisfaction – a good price and high-quality sacrifice products and services, which our customers are happy with our services.</p>
                    </div>
                    </div>
                    <div class="agileits-icon-grid">
                      <h3><strong><span class="su-dropcap su-dropcap-style-default" style="font-size:1em">2.</span></strong><strong></strong><span ><strong>WORLDWIDE LOCATIONS</strong></span></h3>
                      <div class="icon-right">
                      <p>To get the product, we work to make a lucky draw contest across India, which can get the attention of people in online shopping. The purpose of our lucky draw contest is to encourage people to shop online.</p>
                      </div>
                      </div>
                      <h3>Chance to win</h3>
                      <ul>
                        <li>
                          First Mahindra XUV500
                        </li>
                        <li> Tata Safari</li>
                        <li> SWIFT DZIR</li>
                        <li> KTM Bike</li>
                      </ul>
                        
             
            
            </div>         
<!-- 			
			        	<a href="javascript:void(0)" class="btn btn-border-2 font- btn-rounded-25 btn-lg btn-outline-dark text-dark mt-0  ">
	
        
	Search Coupons   
        
    </a> -->
	      </div>
      <div class="col-md-6 pr-lg-5">
      <img data-src="/assets/wp-includes/images/prize4.jpg" class="img-fluid mt-3 pt-3 pt-md-0 mt-lg-0 lazy" alt="Welcome to our coupon website" />
      <img data-src="/assets/wp-includes/images/car1.jpg" class="img-fluid mt-3 pt-3 pt-md-0 mt-lg-0 lazy" alt="Welcome to our coupon website" />
      </div>
    </div>
  </div>
</section>
<section class="block-cat-listings block-listings2b  section-100 bg-light ">
  <div class="container">
  <div class="row">
      <div class="col-12 section-bottom-40">
                  
              <div class="text-center">
        
        <h2 class=" font- text- ">Newly Added Prize</h2>
              
                    <p class="lead text- font- text-500  ">Take a look at some of our latest items.</p> 
                          
                          
        <p class="line-height-30  font- text-">Save time &amp; money - get started now!</p> 
               
              
              </div>         
        
          </div>
      <div class="col-12">
      <div class="clearfix"></div>
      <div class='row'>
        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
  <div data-pid="878" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
      <figure> <a href="javascript:void(0)"> 
        <img data-src="/assets/wp-includes/images/ac1.png" class="img-fluid lazy" alt="Example Auction 17">
     
      </a>
      <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
         <i class="fa fa-heart"></i>  						</a>
        </div>
    </figure>
      <div class="card-body  py-3 bg-white">
      <div class="card-top">
        <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">LG 1.5 Ton 5 Star Split Dual Inverter AC</a></h3>
        <div class="card-bottom d-flex justify-content-between my-2">
          <div class="small opacity-5 mb-2"></div>
          <div class="small opacity-5 mb-2"></div>
        </div>
      </div>
      <div>
     
            
      </div>
    </div>
  </div>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
  <div data-pid="873" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
      <figure> <a href="javascript:void(0)">
         <img data-src="/assets/wp-includes/images/freeze.png" class="img-fluid lazy" alt="Example Auction 12">
     
      </a>
      <div class="fbit top-right p-0 z-1">		
        	<a href="javascript:void(0)" class="favs_add">
         <i class="fa fa-heart"></i>  						</a>
        </div>
    </figure>
      <div class="card-body  py-3 bg-white">
      <div class="card-top">
        <h3 class="mb-1 font-weight-normal"><ahref="#">Samsung 192 L Direct Cool Single Door 4 Star Refrigerator</a></h3>
        <div class="card-bottom d-flex justify-content-between my-2">
          <div class="small opacity-5 mb-2"><a href='#' class=''></a></div>
          <div class="small opacity-5 mb-2"></div>
        </div>
      </div>
      <div>
     
            
      </div>
    </div>
  </div>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
  <div data-pid="870" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
      <figure> <a href="javascript:void(0)"> 
        <img data-src="/assets/wp-includes/images/tv.png" class="img-fluid lazy" alt="Example Auction 9">
     
      </a>
      <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
         <i class="fa fa-heart"></i>  						</a>
        </div>
    </figure>
      <div class="card-body  py-3 bg-white">
      <div class="card-top">
        <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Dell Vostro Core i3 10th Gen - (8 GB/1 TB HDD/Windows 10)</a></h3>
        <div class="card-bottom d-flex justify-content-between my-2">
          <div class="small opacity-5 mb-2"></div>
          <div class="small opacity-5 mb-2"></div>
        </div>
      </div>
      <div>
      
            
      </div>
    </div>
  </div>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
  <div data-pid="868" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
      <figure> <a href="javascript:void(0)">
         <img data-src="/assets/wp-includes/images/mobile.png" class="img-fluid lazy" alt="Example Auction 7">
     
      </a>
      <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
         <i class="fa fa-heart"></i>  						</a>
        </div>
    </figure>
      <div class="card-body  py-3 bg-white">
      <div class="card-top">
        <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Redmi 8 (Onyx Black, 64 GB) (4 GB RAM)</a></h3>
        <div class="card-bottom d-flex justify-content-between my-2">
          <div class="small opacity-5 mb-2"></div>
          <div class="small opacity-5 mb-2"></div>
        </div>
      </div>
      <div>
           
      </div>
    </div>
  </div>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
  <div data-pid="867" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
      <figure> <a href="javascript:void(0)"> 
        <img data-src="/assets/wp-includes/images/desktop1.png" class="img-fluid lazy" alt="Example Auction 6">
     
      </a>
      <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
         <i class="fa fa-heart"></i>  						</a>
        </div>
    </figure>
      <div class="card-body  py-3 bg-white">
      <div class="card-top">
        <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Mi 4A PRO 80 cm (32) HD Ready LED</a></h3>
        <div class="card-bottom d-flex justify-content-between my-2">
          <div class="small opacity-5 mb-2"></div>
          <div class="small opacity-5 mb-2"></div>
        </div>
      </div>
      <div>
      
            
      </div>
    </div>
  </div>
  </div>
  <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <div data-pid="868" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
        <figure> <a href="javascript:void(0)">
           <img data-src="/assets/wp-includes/images/mobile.png" class="img-fluid lazy" alt="Example Auction 7">
       
        </a>
        <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
           <i class="fa fa-heart"></i>  						</a>
          </div>
      </figure>
        <div class="card-body  py-3 bg-white">
        <div class="card-top">
          <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Redmi 8 (Onyx Black, 64 GB) (4 GB RAM)</a></h3>
          <div class="card-bottom d-flex justify-content-between my-2">
            <div class="small opacity-5 mb-2"></div>
            <div class="small opacity-5 mb-2"></div>
          </div>
        </div>
        <div>
         
              
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
      <div data-pid="878" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
          <figure> <a href="javascript:void(0)"> 
            <img data-src="/assets/wp-includes/images/ac1.png" class="img-fluid lazy" alt="Example Auction 17">
         
          </a>
          <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
             <i class="fa fa-heart"></i>  						</a>
            </div>
        </figure>
          <div class="card-body  py-3 bg-white">
          <div class="card-top">
            <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">LG 1.5 Ton 5 Star Split Dual Inverter AC</a></h3>
            <div class="card-bottom d-flex justify-content-between my-2">
              <div class="small opacity-5 mb-2"></div>
              <div class="small opacity-5 mb-2"></div>
            </div>
          </div>
          <div>
          
                
          </div>
        </div>
      </div>
      </div>
      <div class="col-6 col-md-4 col-lg-4 col-xl-3">
      <div data-pid="873" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
          <figure> <a href="javascript:void(0)">
             <img data-src="/assets/wp-includes/images/freeze.png" class="img-fluid lazy" alt="Example Auction 12">
         
          </a>
          <div class="fbit top-right p-0 z-1">		
              <a href="javascript:void(0)" class="favs_add">
             <i class="fa fa-heart"></i>  						</a>
            </div>
        </figure>
          <div class="card-body  py-3 bg-white">
          <div class="card-top">
            <h3 class="mb-1 font-weight-normal"><ahref="#">Samsung 192 L Direct Cool Single Door 4 Star Refrigerator</a></h3>
            <div class="card-bottom d-flex justify-content-between my-2">
              <div class="small opacity-5 mb-2"><a href='#' class=''></a></div>
              <div class="small opacity-5 mb-2"></div>
            </div>
          </div>
          <div>
   
                
          </div>
        </div>
      </div>
      </div>

  

 
</div> </div>
  </div>
  </section>
  <section class="block-cat-text block-text1  section-80 " style="background-image: url(/assets/wp-includes/images/background.jpg);">
    <div class="container">
      <div class="row d-flex flex-lg-row-reverse y-middle">
        <div class="col-md-6 pl-xl-5 text-center text-lg-left">
                      
              <div class="text-center text-md-left">
        
        <h2 class="mb-4 font- text-white font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">How To Win</h2>
              
                    <p class="lead text-white font- text-400 mb-4  wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">Our Company organizes a lucky draw after completing the selling target. If any one from our company is the winner of lucky draw then he/she can get the information of prize through log in on our website by his/her mobile number. Our company organizes this lucky draw in association with E-Commerce companies like snapdeal, Homeshop 18, Snapdeal, Shopclues, Paytm Example: If you buy any product like Samsung, VIVO, Puma etc and this is a product manufacturing company and by selling the products any one can complete its target. Example: There is a lucky draw on completing selling of 100 pieces . Then a lucky draw is organized including these 100 customers and the winners are informed from the company side. The terms and conditions for can be read on the website.</p> 
                          
                          
       
               
              
              </div>         
        
          </div>
        <div class="col-md-6 pr-lg-5">
      
        <img data-src="/assets/wp-includes/images/how-to-win.png" class="img-fluid mt-3 pt-3 pt-md-0 mt-lg-0 lazy wow fadeInUp loaded" alt="Welcome to our coupon website" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s;" src="/assets/wp-includes/images/how-to-win.png" data-was-processed="true">
        </div>
      </div>
    </div>
  </section>
  <section class="block-cat-icon block-icon5 bg-light section-80 ">
    <div class="container">
    <div class="row">
       <div class="col-lg-8 mx-auto text-center mb-4">
    
                   
             <div class="text-center">
       
       <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">Advantages</h2>
       <p> My dear shoppers we are alwayse with you</p> 
             
                         
              
             
             </div>         
       
             
        
    </div>
       
    <div class="col-lg-10 mx-auto">
       <div class="row">
                   <div class="col-md-6 mb-4">
          
          <a href="https://cp10.premiummod.com/stores/" class="text-decoration-none">
 <div class="card-search card-top-image shadow-sm">
  
 
  <div class="row no-gutters">

 <div class="col">
 
 <div class="card-body text-lg-left text-center bg-white">
 
 <h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
 SUPPORT 24 * 7 delivery</h5>
 
             
                       
 </div>
 
 </div>
 
 </div>
   
 </div>
 
 </a>
 
 </div>         
          
          
          
          
          
          
     
                   <div class="col-md-6 mb-4">
          
          <a href="#" class="text-decoration-none">
 <div class="card-search card-top-image shadow-sm">
  
 
  <div class="row no-gutters">

 <div class="col">
 
 <div class="card-body text-lg-left text-center bg-white">
 
 <h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
 Tata Nexon Smart</h5>

             
                       
 </div>
 
 </div>
 
 </div>
   
 </div>
 
 </a>
 
 </div>         
          
          
          
          
          
          
     
                   <div class="col-md-6 mb-4">
          
          <a href="#" class="text-decoration-none">
 <div class="card-search card-top-image shadow-sm">
  
 
  <div class="row no-gutters">

 <div class="col">
 
 <div class="card-body text-lg-left text-center bg-white">
 
 <h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
24 * 7 Hours delivery</h5>

             
                       
 </div>
 
 </div>
 
 </div>
   
 </div>
 
 </a>
 
 </div>         
          
          
          
          
          
          
     
                   <div class="col-md-6 mb-4">
          
          <a href="#" class="text-decoration-none">
 <div class="card-search card-top-image shadow-sm">
  
 
  <div class="row no-gutters">

 <div class="col">
 
 <div class="card-body text-lg-left text-center bg-white">
 
 <h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
 Tata Safari</h5>

             
                       
 </div>
 
 </div>
 
 </div>
   
 </div>
 
 </a>
 
 </div>         
 <div class="col-md-6 mb-4">
          
  <a href="#" class="text-decoration-none">
<div class="card-search card-top-image shadow-sm">


<div class="row no-gutters">

<div class="col">

<div class="card-body text-lg-left text-center bg-white">

<h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
24 * 7 Prize distrubutor</h5>

     
               
</div>

</div>

</div>

</div>

</a>

</div>      
<div class="col-md-6 mb-4">
          
  <a href="#" class="text-decoration-none">
<div class="card-search card-top-image shadow-sm">


<div class="row no-gutters">

<div class="col">

<div class="card-body text-lg-left text-center bg-white">

<h5 class="mb-md-4 text-dark wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
KTM DDuke bike</h5>

     
               
</div>

</div>

</div>

</div>

</a>

</div>      
          
          
    
           
          
       </div>
    </div>
 </div></div></section>

 <section class="block-cat-icon block-icon5 bg-white section-80 ">
  <div class="container">
  <div class="row">
     
  <div class="col-lg-12 mx-auto">
     <div class="row">
                 <div class="col-md-12 mb-4">
        
        <a href="#" class="text-decoration-none">
<div class="card-search card-top-image ">


<div class="row no-gutters">
<div class="col-lg-12 border-right">



  <figure class="text-center  bg-white">
     
                        <img  data-src="/assets/wp-includes/images/a.jpg" class="img-fluid lazy wow fadeInUp loaded" alt="Godaddy Coupons" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s;" src="/assets/wp-includes/images/a.jpg" data-was-processed="true">                      
               </figure>


                      
</div>


</div>
 
</div>

</a>

</div>         
       </div>
  </div>
</div></div></section>

<section class="block-cat-text block-text2 section-80 " style="background-image: url(/assets/wp-includes/images/background.jpg);">
  <div class="container">
    <div class="text-center">
      
      <h2 class="text-white font- text- ">Prizes to win
      </h2>
            
                  <p class="lead text-font-text-500 mb-5  text-white">Here are the list of prizes to be won.</p> 
                        
                        
             
            
            </div>  
     <div class="row y-middle"> 
              
        <div class="col-lg-6 pr-lg-5 text-center text-lg-left">
           
                       
           <div class="text-center text-md-left">
            <div data-pid="878" class="card-search card-top-image card-zoom bg-white list-small product mb-3">
              <div class="row no-gutters">
             
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">1. 32 inch LED TV Samsung</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">2. Samsung A8 Android Mobile phone</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">3. Refrigerator</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">4. Kurta</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">5. Ovan</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">6. Shoe</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">7. Gas flame</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">8. Bicycle</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">9. Activa</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">10. Wrist Watch</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">11.  Laptop</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">12. 5.1 F&D Hoe theatre</a></h3>
              
                  </div>
                </div>
              </div>
              <!-- <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">13. Printer Samsung Guru</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">14. Wallet</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">15. Vivo S1 Mobile phone</a></h3>
              
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-lg-1 col-md-4 bg-white">
                       
                      </div>
                <div class="col">
                  <div class="card-body h-100 pb-0">
                    <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                      <a href="javascript:void(0)" class="text-dark medum font-size-bold">16. 3- Belt</a></h3>
              
                  </div>
                </div>
              </div> -->
            </div>
     
    
           
           </div>         
     
                
          </div>
        
         <div class="col-lg-6 pl-lg-5">
          <!-- <div class="col-5">
            <figure> <a href="#"> 
              <img data-src="/assets/wp-includes/images/cover-1.png" class="img-fluid avatar avatar-small mr-2 rounded lazy loaded" alt="Example Auction 17"
               src="/assets/wp-includes/images/cover-1.png" data-was-processed="true">
     
        </a> </figure>
      </div> -->
           <img data-src="/assets/wp-includes/images/prizes.jpg" 
           class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp loaded" alt="Buy &amp; sell your old stuff!" data-wow-delay="0.8s"
         src="/assets/wp-includes/images/prize3.jpg" 
            data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
            <img data-src="/assets/wp-includes/images/snapproduct.png" 
            class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp loaded" alt="Buy &amp; sell your old stuff!" data-wow-delay="0.8s"
          src="/assets/wp-includes/images/snapproduct.png" 
             data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">

        </div>
        
     </div>
  </div>
</section>
<section class="block-cat-icon block-icon5 bg-white section-80 ">
  <div class="container">
  <div class="row">
     <div class="col-lg-8 mx-auto text-center mb-4">
  
                 
           <div class="text-center">
     
     <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">Our prize <i class="fal fa-home mx-2 text-primary wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s;"></i> distributers</h2>
           
                       
            
           
           </div>         
     
           
      
  </div>
     
  <div class="col-lg-12 mx-auto">
     <div class="row">
                 <div class="col-md-12 mb-4">
        
        <a href="#" class="text-decoration-none">
<div class="card-search card-top-image ">


<div class="row no-gutters">
<div class="col-lg-12 border-right">



  <figure class="text-center  bg-white">
     
                        <img data-src="/assets/wp-includes/images/aa.jpg" class="img-fluid lazy wow fadeInUp loaded" alt="Godaddy Coupons" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s;" src="/assets/wp-includes/images/aa.jpg" data-was-processed="true">                      
               </figure>


                      
</div>


</div>
 
</div>

</a>

</div>         
       </div>
  </div>
</div></div></section>
 <section class="bg-white section-100">
  <div class="container">
    <div class="row">
       <div class="col-md-8 col-lg-6  mx-auto text-center">
				<h3 class="mb-4">Send Enquiry</h3>
				<p class="mb-4 text-muted">Complete the form below and we'll get back to you within 48 hours.</p>
				
			<div id="ajax_contactform_output_ok" style="display:none;">
  <div class="alert alert-success text-center small"> <i class="fa fa-check"></i> Message Sent Successfully. </div>
</div>
<div id="ajax_contactform_output_error" style="display:none;">
  <div class="alert alert-danger text-center small"> <i class="fa fa-times"></i> Error Sending Message. </div>
</div>
				<form method="post" action="" id="contactusform">
					 
                <input type="hidden" name="report" id="reportpostid" value="">
                    
                    
					<div id="html_element"></div>
										<div class="row">
						<div class="col-12 col-md-6">
							<div class="controls mb-3 position-relative"> 
								<input type="text" class="form-control" name="form[name]" id="name" placeholder="First Name" onchange="jQuery('#showcodeb').show();">
                                <span class="input-group-addon inlineicon"> <span class="fal fa-user"></span> </span> 
							</div>
						</div>
						 
						
						<div class="col-12 col-md-6">
							<div class="controls mb-3 position-relative">
								<input type="text" class="form-control" id="phone" name="form[phone]" placeholder="Phone">
                                 <span class="input-group-addon inlineicon"> <span class="fal fa-phone"></span> </span> 
							</div>
						</div>
                        
                        <div class="col-12">
							<div class="controls mb-3 position-relative"> 
								<input type="text" class="form-control" id="email1" name="form[email]" placeholder="Email">
                                <span class="input-group-addon inlineicon"> <span class="fal fa-envelope"></span> </span>
							</div>
						</div>
                        
						<div class="col-12">
							<div class="controls mb-3 position-relative">
								<textarea name="form[message]" class="form-control" id="message" style="height:150px; width:100%;" placeholder="Message"></textarea>
							</div>
						</div>
                        
<div class="col-12" id="showcodeb" style="display:none;">
      <div class="controls mb-3 position-relative">
        <input type="text" name="contact_code" placeholder="Security: 7 + 8 = ?" class="form-control" tabindex="5" id="code">
         <span class="input-group-addon inlineicon"> <span class="fal fa-shield-check"></span> </span>
</div>  </div> 
<div class="col-12 my-3 "> 
  <input name="agreetc" type="checkbox" id="agreetc" onchange="UpdateTCA()"> Accept <ahref="#">Terms &amp; conditions</a> 
</div>
						<div class="col-12">
							<button type="button" onclick="CheckFormData();" id="btncontactform" class="btn btn-primary btn-xl btn-block rounded-0 py-2 px-3" >Send Message</button>	
						</div>
				
					</div>
				</form>
<script>

function UpdateTCA(){					 
	if(jQuery('#agreetc').is(':checked') ){                        	
		jQuery('#btncontactform').removeAttr("disabled");
	}else{
		jQuery('#btncontactform').attr("disabled", true);                       
	} 					 
}
					
function isEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}		
function CheckFormData(){
					
					var reportpostid 	= document.getElementById("reportpostid");
					var name 	= document.getElementById("name"); 
					var email1 	= document.getElementById("email1");
					var code = document.getElementById("code");
					var message = document.getElementById("message");	 
								
					if(name.value == '')
					{
						alert('Please complete all required fields.');
						name.focus();
						name.style.border = 'thin solid red';
						return false;
					}
					if(email1.value == '')
					{
						alert('Please complete all required fields.');
						email1.focus();
						email1.style.border = 'thin solid red';
						return false;
					}
					if(!isEmail(email1.value))
					{
						alert('Invalid email address.');
						email1.focus();
						email1.style.border = 'thin solid red';
						return false;
					}
					
					if(code.value == '')
					{
						alert('Please complete all required fields.');
						code.focus();
						code.style.border = 'thin solid red';
						return false;
					} 
					
					if(message.value == '')
					{
						alert('Please complete all required fields.');
						message.focus();
						message.style.border = 'thin solid red';
						return false;
					} 		
				
					
}
</script>
			</div>
			
		</div>
	</div>
</section>
<section class="block-cat-testimonials block-testimonials3  section-40 ">
  <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-12 mb-0">
        <div class="testomonial-2">
          <div class="testomonial-2-img"> <img data-src="https://premiumpress.com/_demoimagesv10/user/1.jpg" alt="testimonial" class="lazy img-fluid"> </div>
        
          <p class="testomonial-2-des text-muted small"> "
           मेरा नाम राहुल कुमार है मै दिल्ली का रहने बाला हूँ | मै हमेशा से snapdeal से कुछ भी Online ख़रीदारी करता हूँ | एक दिन हमें स्नैपडील lucky Draw से एक फ़ोन आया | और हमें snapdealcompany पंजीकरण करने के लिए बोला गया | और हमें 1 prize के लिये नामांकित किया गया और हमें Mahindra XUV500 गिफ्ट दिया गया | धन्यबाद Online Lucky Draw Head Office| </p>
          <div class="testmonial-3-author">
             
            <h6 class="float-left">
            Rahul kumar      </h6>
            <div class="float-right rating-small"> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> </div>
          </div>
        </div>
      </div>
            <div class="col-lg-4 col-sm-12 mb-0">
        <div class="testomonial-2">
          <div class="testomonial-2-img"> <img data-src="https://premiumpress.com/_demoimagesv10/user/2.jpg" alt="testimonial" class="lazy img-fluid"> </div>
          <p class="testomonial-2-des text-muted small"> "
          मेरा नाम संजय कुमार है मै मधय प्रदेश का रहने बाला हूँ | मै हमेशा से snapdeal से कुछ भी Online ख़रीदारी करता हूँ | एक दिन हमें snapdeal से एक फ़ोन आया | और हमें http://www.snapdealluckdrawwinner<br>.co.in/ पर पंजीकरण करवाने के लिए बोला गया | और हमें 2st prize के लिये नामांकित किया गया और हमें TATA SAFARI गिफ्ट दिया गया | धन्यबाद Online Lucky Draw Head Office| </p>
          <div class="testmonial-3-author">
            <h6 class="float-left">
            Sanjay kumar         </h6>
            <div class="float-right rating-small"> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> </div>
          </div>
        </div>
      </div>
            <div class="col-lg-4 col-sm-12 mb-0">
        <div class="testomonial-2">
          <div class="testomonial-2-img"> <img data-src="https://premiumpress.com/_demoimagesv10/user/3.jpg" alt="testimonial" class="lazy img-fluid"> </div>
          <p class="testomonial-2-des text-muted small"> "
         मेरा नाम रोशन कुमार शर्मा मै झारखण्ड का रहने बाला हूँ | मै हमेशा से snapdeal से कुछ भी Online ख़रीदारी करता हूँ | एक दिन हमें snapdeal से एक फ़ोन आया | और हमें http://www.snapdealluckdrawwinner<br>.co.in/ पर पंजीकरण करवाने के लिए बोला गया | और हमें 3rd prize के लिये नामांकित किया गया और हमें SWIFT DZIRE गिफ्ट दिया गया | धन्यबाद Online Lucky Draw Head Office| </p>
          <div class="testmonial-3-author">
            <h6 class="float-left">
            Roshan kumar</h6>
            <div class="float-right rating-small"> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> </div>
          </div>
        </div>
      </div>
          </div>
  </div>
</section>
<style>
.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; }
.block-header__title{margin-bottom:0;font-size:20px;}
.block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;}
.block-header__title+.block-header__divider{margin-left:16px;}
@media (max-width:767px){
.block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
</style>
 <section id="subscribe2" class="position-relative bg-dark block-cat-subscribe block-subscribe2  section-60 ">
    
    
   <div class="bg-image" data-bg="/assets/wp-includes/images/newsletter3.png"></div>
   <div class="overlay-innerxx"></div>   
   <div class="">     
   <div class="container bg-content">
     
           
                <div class="row align-items-center wrapper "> 
                    <div class="col-md-6">
                        <div class="subscribe-form-wrapper text-light">
                            
                                        
            <div class="text-center text-md-left">
			
			<h3 class="mb-4 font- text-white font-weight-bold">Join our newsletter</h3>
            
            			<p class="lead text-white font- text-500 mb-4 font-weight-bold">We'll email you the latest discount codes.</p> 
                        
             
            
            </div>         
			
			                            
                             
                               


<script>

function ajax_newsletter_signup77827(){

    jQuery.ajax({
        type: "POST",
        url: 'http://127.0.0.1:5501/cp10.premiummod.com/index.html?',		
		dataType: 'json',
		data: {
            action: "newsletter_join",
			email: jQuery('#ppt_newsletter_mailme77827').val(),	 
        },
        success: function(r) {
			
			if(r.status == "ok"){
				jQuery('#newsletterthankyou77827').show();
				jQuery('#mailinglist-form77827').html('');
			}else{
				jQuery('#mailinglist-form77827').html("Invalid Email Address");
			}
			
        },
        error: function(e) {
            //console.log(e)
        }
    });

}
</script>

<div id="newsletterthankyou77827" style="display:none" class="newsletter-confirmation txt">
	<div class="h4">Email confirmation sent.</div>
	<p>Please check your email for a confirmation email.</p>
	<p class="small">Only once you've confirmed your email will you be subscribed to our newsletter.</p>
</div>

<form id="mailinglist-form77827" name="mailinglist-form77827" method="post" onSubmit="return IsEmailMailinglist77827();" class="footer-newsletter">
    

<div class="input-group">										 
<input type="text" name="ppt_newsletter_mailme77827" id="ppt_newsletter_mailme77827" value="" placeholder="Email Address Here.." style="height:46px;" class="form-control  rounded-0" /> 
<div class="input-group-append">
<button type="submit" class="btn btn-primary px-3">Join</button>
</div>	

  					
</div>  

     
        
         
 </form>
<script>
		function IsEmailMailinglist77827(){
		var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
			var de4 	= document.getElementById("ppt_newsletter_mailme77827");
			
			if(de4.value == ''){
			alert("Please enter your email.");
			de4.style.border = 'thin solid red';
			de4.focus();
			return false;
			}
			if( !pattern.test( de4.value ) ) {	
			alert("Invalid Email Address");
			de4.style.border = 'thin solid blue';
			de4.focus();
			return false;
			}
			ajax_newsletter_signup77827();
		 
		  	return false;
		}		
 </script>
 
 
                            
                        </div>
                    </div>
                    
                    
                </div>
            </div> 


     </div>  
    
   
</section>

<%- include ("footer-include/footer") %>
</main>
</div>
<%- include ("css-and-js-include/script-include") %>
 </body>

</html>