<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Check status</title>
<script src="https://cp10.premiummod.com/wp-includes/js/jquery/jquery.js"></script>
 <%- include ("../css-and-js-include/css-include") %>
	

<style>.preload-hide { display:none; }</style></head>
<body class="blog demomode theme-cp home elementor-default">



<div id="wrapper"style="display:none;">
  <%- include ("../header-include/header-sidebar") %>
  <main id="page-content-wrapper">
  <%- include ("../header-include/header") %>
  
<section class="hero-text1 position-relative hero-default hero-small text-light ">
    <div class="bg-image" data-bg="/assets/wp-includes/images/status.jpg"></div>
  
    <div class="hero_content z-10">
      <div class="container">
        <div class="row justify-content-center">
            <div class="caption">

                <div class="title mb-4 font- text-white font-weight-bold textsize-xxl">Check <span class="font-weight-bold text-uppercase">Status</span></div>
                
               
                
                
                
                </div>
        </div>
      </div>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>
 
  <section id="subscribe2" class="position-relative section-100 " >
    <div class="overlay-innerxx "></div>   
   <div >     
   <div class="container bg-content">
     
           
                <div class="row align-items-center wrapper "> 
                    <div class="col-md-12">
                        <div class="subscribe-form-wrapper text-light ">
                            
                                        
            <div class="text-center text-md-center">
      
      <h2 class="mb-2 font- text-dark font-weight-bold text-center">To Check your Status</h2>
            
                  <p class="lead text-dark font-text-300 mb-4 ">Enter Your Mobile Number</p> 
                  
 
 <form  action="scratch.html" type="post" name="myForm" onsubmit="return validateForm()" >
 
 <div class="input-group">										 
   <input type="number" class="form-control" name="number" placeholder="Phone" >
 <div class="input-group-append">
 
 <button id="btn-primaryhome" type="submit" value="Submit"   class="btn  px-3">Check</button>
 <script>
  
  function validateForm() {
   var x = document.forms["myForm"]["number"].value;
   if (x == "") {
     alert("Number must be filled out");
     return false;
   }
 }
 </script>
 </div>
 
    
                        
             
            
            </div>  
            </form>
            <form  >
             <!-- <div class="container">
                 <div class="row para-desc d-block mx-auto">
                     <div class="form-group">
                         <input class="form-control" type="number" id="number"  placeholder="">
                 
                     </div>
                
                     <div class="form-group">
                       <button type="submit" id="btnsubmit" value="Submit" class="btn btn-block  py-3" onclick=submitData()>Submit</button>
                     </div>
         
                 </div>
             </div> -->
            
            
             <script>
                 function submitData() {
                     var number = document.getElementById("number").value;
                     console.log(number);
                     window.open("/validate?number="+number)
                 }
             </script>
              
          </div>
                    </div>
                    
                    
                </div>
            </div> 
 
 
     </div>  
    
   
 </section>
<script> 
jQuery(document).ready(function(){ 
 	
		 
	var owl = jQuery("#stores1-carousel-483335814 .owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
		 
        responsive: {
            0: {
                items: 2
            },
			 
            600: {
                items: 3
            },
			
			 
			
            1000: {
                items: 5            }
        },        
    }); 
	
	owl.owlCarousel();
 
  jQuery("#stores1-carousel-483335814 .next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  jQuery("#stores1-carousel-483335814 .prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })
	
	
	});		 
</script>

<style>
.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; }
.block-header__title{margin-bottom:0;font-size:20px;}
.block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;}
.block-header__title+.block-header__divider{margin-left:16px;}
@media (max-width:767px){
.block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
</style>

<style>
.testomonial-2{
    padding-left: 80px;
    position: relative;
    padding-top: 10px;
}
.testomonial-2-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.testomonial-2-img img{
    width: 100%;
    height: auto;
}

</style>


 
 

<%- include ("../footer-include/footer") %>
</main>
</div>
<%- include ("../css-and-js-include/script-include") %>







</body>

</html>