<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>How to win</title>
<script src="https://cp10.premiummod.com/wp-includes/js/jquery/jquery.js"></script>
 <%- include ("../css-and-js-include/css-include") %>
	

<style>.preload-hide { display:none; }</style></head>
<body class="blog demomode theme-cp home elementor-default">



<div id="wrapper"style="display:none;">
  <%- include ("../header-include/header-sidebar") %>
  <main id="page-content-wrapper">
  <%- include ("../header-include/header") %>
 
<section class="hero-text1 position-relative hero-default hero-small text-light ">
    <div class="bg-image" data-bg="/assets/wp-includes/images/winner.jpg"></div>
  
    <div class="hero_content z-10">
      <div class="container">
        <div class="row justify-content-center">
            <div class="caption">

                <div class="title mb-4 font- text-white font-weight-bold textsize-xxl">How to win </div>
                
               
                
                
                
                </div>
        </div>
      </div>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>

  <section class="block-cat-text block-text2 bg-white section-80 ">
    <div class="container">
       <div class="row y-middle">        
          <div class="col-lg-6 pr-lg-5 text-center text-lg-left">
             
              
             
             <div class="text-center text-md-left">
             
       <div class="text-dark font- mb-4 font-weight-bold">snapdeal company</div> 
             
                   <h2 class="mb-4 font- text-dark font-weight-bold wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">How to Win</h2> 
                   <p class="line-height-30 mb-4">Our Company organizes a lucky draw after completing the selling target. If any one from our company is the winner of lucky draw then he/she can get the information of prize through log in on our website by his/her mobile number. Our company organizes this lucky draw in association with E-Commerce companies like Flipkart, Homeshop 18, Snapdeal, Shopclues, Paytm Example: If you buy any product like Samsung, VIVO, Puma etc and this is a product manufacturing company and by selling the products any one can complete its target. Example: There is a lucky draw on completing selling of 100 pieces . Then a lucky draw is organized including these 100 customers and the winners are informed from the company side. The terms and conditions for can be read on the website.</p>
                       
             
                         
       <p class="line-height-30 mb-4  wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s;">हमारी कंपनी सेल्लिंग टारगेट पूरा करने के बाद एक लकी ड्रा का आयोजन किया जाता है अगर हमारी कंपनी में कोई भी व्यक्ति विजेता होता है तो वह अपने मोबाइल नंबर के जरिये हमारे वेबसाइट में लॉगिन हो कर अपने इनाम का जानकारी ले सकता है हमारी कंपनी सारे इ-कॉमर्स कंपनी जैसे (Flipkart, Homeshop18, Snapdeal, Shopclues, Paytm) के साथ मिल कर ये प्रतियोगिता करवा सकती है उदाहरण : मान लीजिये आपने एक कंपनी का कोई भी प्रोडक्ट खरीदा (Example : Samsung, VIVO, Puma etc) यह प्रोडक्ट मैन्युफैक्चरिंग कंपनी है और उसी के ऊपर सेल करवा कर यह टारगेट पूरा करवाती है Example: 100 piece बिकने पर एक ड्रा हुआ अब १०० ग्राहक को मिला कर उसका बायोडाटा कंप्यूटर लकी ड्रा में डाला गया जो भी विजेता होगा उन्हें कंपनी के माध्यम से जानकारी मिल जाता है इनाम पाने के लिए जो शर्तें हैं उसे वेबसाइट पर देख और पालन कर सकते हैं.</p> 
              
             
             </div>          
       
                   
                      </div>
          
           <div class="col-lg-6 pl-lg-5">
             <img data-src="https://premiumpress.com/_demoimagesv10/innerpages/1.jpg" class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp  loaded" alt="We're here to answer your questions" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s;" src="https://premiumpress.com/_demoimagesv10/innerpages/1.jpg" data-was-processed="true">
          </div>
          
       </div>
    </div>
  </section>


    




<script> 
jQuery(document).ready(function(){ 
 	
		 
	var owl = jQuery("#stores1-carousel-483335814 .owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
		 
        responsive: {
            0: {
                items: 2
            },
			 
            600: {
                items: 3
            },
			
			 
			
            1000: {
                items: 5            }
        },        
    }); 
	
	owl.owlCarousel();
 
  jQuery("#stores1-carousel-483335814 .next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  jQuery("#stores1-carousel-483335814 .prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })
	
	
	});		 
</script>

<style>
.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; }
.block-header__title{margin-bottom:0;font-size:20px;}
.block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;}
.block-header__title+.block-header__divider{margin-left:16px;}
@media (max-width:767px){
.block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
</style>

<style>
.testomonial-2{
    padding-left: 80px;
    position: relative;
    padding-top: 10px;
}
.testomonial-2-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.testomonial-2-img img{
    width: 100%;
    height: auto;
}

</style>


 

<%- include ("../footer-include/footer") %>
</main>
</div>
<%- include ("../css-and-js-include/script-include") %>







</body>

</html>