<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Prize page</title>
<script src="https://cp10.premiummod.com/wp-includes/js/jquery/jquery.js"></script>
 <%- include ("../css-and-js-include/css-include") %>
	

<style>.preload-hide { display:none; }</style></head>
<body class="blog demomode theme-cp home elementor-default">



<div id="wrapper"style="display:none;">
  <%- include ("../header-include/header-sidebar") %>
  <main id="page-content-wrapper">
  <%- include ("../header-include/header") %>
 
<section class="hero-text1 position-relative hero-default hero-small text-light ">
    <div class="bg-image" data-bg="/assets/wp-includes/images/prizes.jpg"></div>
  
    <div class="hero_content z-10">
      <div class="container">
        <div class="row justify-content-center">
            <div class="caption">

                <div class="title mb-4 font- text-white font-weight-bold textsize-xxl">Prizes </div>
                
               
                
                
                
                </div>
        </div>
      </div>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>
  <section class="block-cat-icon block-icon5 bg-white section-80 ">
    <div class="container">
    <div class="row">
       
    <div class="col-lg-12 mx-auto">
       <div class="row">
                   <div class="col-md-12 mb-4">
          
          <a href="#" class="text-decoration-none">
  <div class="card-search card-top-image shadow-sm">
  
  
  <div class="row no-gutters">
  <div class="col-lg-12 border-right">
  
  
  
    <figure class="text-center  bg-white">
       
                          <img data-src="/assets/wp-includes/images/a.jpg" class="img-fluid lazy wow fadeInUp loaded" alt="Godaddy Coupons" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s;" src="/assets/wp-includes/images/a.jpg" data-was-processed="true">                      
                 </figure>
  
  
                        
  </div>
  
  
  </div>
   
  </div>
  
  </a>
  
  </div>         
         </div>
    </div>
  </div></div></section>

  <section class="block-cat-text block-text2 section-80 " style="background-image: url(/assets/wp-includes/images/background.jpg);">
    <div class="container">
      <div class="text-center">
        
        <h2 class="text-white font- text- ">Prizes to win
        </h2>
              
                    <p class="lead text-font-text-500 mb-5  text-white">Here are the list of prizes to be won.</p> 
                          
                          
               
              
              </div>  
       <div class="row y-middle"> 
                
          <div class="col-lg-6 pr-lg-5 text-center text-lg-left">
             
                         
             <div class="text-center text-md-left">
              <div data-pid="878" class="card-search card-top-image card-zoom bg-white list-small product mb-3">
                <div class="row no-gutters">
               
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">1. 32 inch LED TV Samsung</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">2. Samsung A8 Android Mobile phone</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">3. Refrigerator</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">4. Kurta</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">5. Ovan</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">6. Shoe</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">7. Gas flame</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">8. Bicycle</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">9. Activa</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">10. Wrist Watch</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">11.  Laptop</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">12. 5.1 F&D Hoe theatre</a></h3>
                
                    </div>
                  </div>
                </div>
                <!-- <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">13. Printer Samsung Guru</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">14. Wallet</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">15. Vivo S1 Mobile phone</a></h3>
                
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-lg-1 col-md-4 bg-white">
                         
                        </div>
                  <div class="col">
                    <div class="card-body h-100 pb-0">
                      <h3 class="font-weight-normal letter-spacing-1 mt-n1">
                        <a href="javascript:void(0)" class="text-dark medum font-size-bold">16. 3- Belt</a></h3>
                
                    </div>
                  </div>
                </div> -->
              </div>
       
      
             
             </div>         
       
                  
            </div>
          
           <div class="col-lg-6 pl-lg-5">
            <!-- <div class="col-5">
              <figure> <a href="#"> 
                <img data-src="wp-includes/images/cover-1.png" class="img-fluid avatar avatar-small mr-2 rounded lazy loaded" alt="Example Auction 17"
                 src="wp-includes/images/cover-1.png" data-was-processed="true">
       
          </a> </figure>
        </div> -->
             <img data-src="wp-includes/images/prizes.jpg" 
             class="img-fluid mt-5 mt-lg-0 lazy wow fadeInUp loaded" alt="Buy &amp; sell your old stuff!" data-wow-delay="0.8s"
              src="/assets/wp-includes/images/prize3.jpg" 
              data-was-processed="true" style="visibility: visible; animation-delay: 0.8s;">
          </div>
          
       </div>
    </div>
 </section>



    




<script> 
jQuery(document).ready(function(){ 
 	
		 
	var owl = jQuery("#stores1-carousel-483335814 .owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
		 
        responsive: {
            0: {
                items: 2
            },
			 
            600: {
                items: 3
            },
			
			 
			
            1000: {
                items: 5            }
        },        
    }); 
	
	owl.owlCarousel();
 
  jQuery("#stores1-carousel-483335814 .next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  jQuery("#stores1-carousel-483335814 .prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })
	
	
	});		 
</script>

<style>
.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; }
.block-header__title{margin-bottom:0;font-size:20px;}
.block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;}
.block-header__title+.block-header__divider{margin-left:16px;}
@media (max-width:767px){
.block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
</style>

<style>
.testomonial-2{
    padding-left: 80px;
    position: relative;
    padding-top: 10px;
}
.testomonial-2-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.testomonial-2-img img{
    width: 100%;
    height: auto;
}

</style>


 

<%- include ("../footer-include/footer") %>
</main>
</div>
<%- include ("../css-and-js-include/script-include") %>






</body>

</html>