<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>product page</title>
<script src="https://cp10.premiummod.com/wp-includes/js/jquery/jquery.js"></script>
 <%- include ("../css-and-js-include/css-include") %>
	

<style>.preload-hide { display:none; }</style></head>
<body class="blog demomode theme-cp home elementor-default">



<div id="wrapper"style="display:none;">
  <%- include ("../header-include/header-sidebar") %>
  <main id="page-content-wrapper">
  <%- include ("../header-include/header") %>
 
  <section class="hero-text1 position-relative hero-default hero-small text-light ">
    <div class="bg-image" data-bg="/assets/wp-includes/images/snap1.jpg"></div>
  
    <div class="hero_content z-10">
      <div class="container">
        <div class="row justify-content-center">
            <div class="caption">

                <div class="title mb-4 font- text-light font-weight-bold textsize-xxl" style="margin-top:280px">PRODUCTS  </div>
                
               
                
                
                
                </div>
        </div>
      </div>
    </div>
    <script>
  
  jQuery(document).ready(function(){ 
  
      console.log('loaded full page hero');
  
      jQuery('.elementor_header').addClass('fixed-top bg-transparent').removeClass('bg-dark').addClass('bg-white');
      
          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
          
      jQuery('.elementor_topmenu').addClass('fade');
      
      
      jQuery('.header2 .elementor_submenu, .header12 .elementor_submenu').attr('style','display: none !important');
   
  
  });
   
  
  jQuery(window).on('load', function(){
   
      jQuery(window).on('scroll', function() {
          if(jQuery(this).scrollTop() > 150) {
          
              jQuery('.elementor_header').removeClass('bg-transparent');
              jQuery('.elementor_mainmenu').addClass('navbar-light').removeClass('navbar-dark');
              
          } else {
          
              jQuery('.elementor_header').addClass('bg-transparent');
                          jQuery('.elementor_mainmenu').removeClass('navbar-light').addClass('navbar-dark');
                          
          }
      }); 
  
  });
  
  </script>
  </section>

  <section class="block-cat-listings block-listings2b  section-100 bg-light ">
    <div class="container">
    <div class="row">
        <div class="col-12 section-bottom-40">
                    
                <div class="text-center">
          
          <h2 class=" font- text- ">Newly Added Prize</h2>
                
                      <p class="lead text- font- text-500  ">Take a look at some of our latest items.</p> 
                            
                            
          <p class="line-height-30  font- text-">Save time &amp; money - get started now!</p> 
                 
                
                </div>         
          
            </div>
        <div class="col-12">
        <div class="clearfix"></div>
        <div class='row'>
          <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <div data-pid="878" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
        <figure> <a href="javascript:void(0)"> 
          <img data-src="/assets/wp-includes/images/ac1.png" class="img-fluid lazy" alt="Example Auction 17">
       
        </a>
        <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
           <i class="fa fa-heart"></i>  						</a>
          </div>
      </figure>
        <div class="card-body  py-3 bg-white">
        <div class="card-top">
          <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">LG 1.5 Ton 5 Star Split Dual Inverter AC</a></h3>
          <div class="card-bottom d-flex justify-content-between my-2">
            <div class="small opacity-5 mb-2"></div>
            <div class="small opacity-5 mb-2"></div>
          </div>
        </div>
        <div>
       
              
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <div data-pid="873" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
        <figure> <a href="javascript:void(0)">
           <img data-src="/assets/wp-includes/images/freeze.png" class="img-fluid lazy" alt="Example Auction 12">
       
        </a>
        <div class="fbit top-right p-0 z-1">		
            <a href="javascript:void(0)" class="favs_add">
           <i class="fa fa-heart"></i>  						</a>
          </div>
      </figure>
        <div class="card-body  py-3 bg-white">
        <div class="card-top">
          <h3 class="mb-1 font-weight-normal"><ahref="#">Samsung 192 L Direct Cool Single Door 4 Star Refrigerator</a></h3>
          <div class="card-bottom d-flex justify-content-between my-2">
            <div class="small opacity-5 mb-2"><a href='#' class=''></a></div>
            <div class="small opacity-5 mb-2"></div>
          </div>
        </div>
        <div>
       
              
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <div data-pid="870" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
        <figure> <a href="javascript:void(0)"> 
          <img data-src="/assets/wp-includes/images/tv.png" class="img-fluid lazy" alt="Example Auction 9">
       
        </a>
        <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
           <i class="fa fa-heart"></i>  						</a>
          </div>
      </figure>
        <div class="card-body  py-3 bg-white">
        <div class="card-top">
          <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Dell Vostro Core i3 10th Gen - (8 GB/1 TB HDD/Windows 10)</a></h3>
          <div class="card-bottom d-flex justify-content-between my-2">
            <div class="small opacity-5 mb-2"></div>
            <div class="small opacity-5 mb-2"></div>
          </div>
        </div>
        <div>
        
              
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <div data-pid="868" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
        <figure> <a href="javascript:void(0)">
           <img data-src="/assets/wp-includes/images/mobile.png" class="img-fluid lazy" alt="Example Auction 7">
       
        </a>
        <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
           <i class="fa fa-heart"></i>  						</a>
          </div>
      </figure>
        <div class="card-body  py-3 bg-white">
        <div class="card-top">
          <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Redmi 8 (Onyx Black, 64 GB) (4 GB RAM)</a></h3>
          <div class="card-bottom d-flex justify-content-between my-2">
            <div class="small opacity-5 mb-2"></div>
            <div class="small opacity-5 mb-2"></div>
          </div>
        </div>
        <div>
             
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
    <div data-pid="867" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
        <figure> <a href="javascript:void(0)"> 
          <img data-src="/assets/wp-includes/images/desktop1.png" class="img-fluid lazy" alt="Example Auction 6">
       
        </a>
        <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
           <i class="fa fa-heart"></i>  						</a>
          </div>
      </figure>
        <div class="card-body  py-3 bg-white">
        <div class="card-top">
          <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Mi 4A PRO 80 cm (32) HD Ready LED</a></h3>
          <div class="card-bottom d-flex justify-content-between my-2">
            <div class="small opacity-5 mb-2"></div>
            <div class="small opacity-5 mb-2"></div>
          </div>
        </div>
        <div>
        
              
        </div>
      </div>
    </div>
    </div>
    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
      <div data-pid="868" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
          <figure> <a href="javascript:void(0)">
             <img data-src="/assets/wp-includes/images/mobile.png" class="img-fluid lazy" alt="Example Auction 7">
         
          </a>
          <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
             <i class="fa fa-heart"></i>  						</a>
            </div>
        </figure>
          <div class="card-body  py-3 bg-white">
          <div class="card-top">
            <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">Redmi 8 (Onyx Black, 64 GB) (4 GB RAM)</a></h3>
            <div class="card-bottom d-flex justify-content-between my-2">
              <div class="small opacity-5 mb-2"></div>
              <div class="small opacity-5 mb-2"></div>
            </div>
          </div>
          <div>
           
                
          </div>
        </div>
      </div>
      </div>
      <div class="col-6 col-md-4 col-lg-4 col-xl-3">
        <div data-pid="878" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
            <figure> <a href="javascript:void(0)"> 
              <img data-src="/assets/wp-includes/images/ac1.png" class="img-fluid lazy" alt="Example Auction 17">
           
            </a>
            <div class="fbit top-right p-0 z-1">			<a href="javascript:void(0)" class="favs_add">
               <i class="fa fa-heart"></i>  						</a>
              </div>
          </figure>
            <div class="card-body  py-3 bg-white">
            <div class="card-top">
              <h3 class="mb-1 font-weight-normal"><a href="javascript:void(0)">LG 1.5 Ton 5 Star Split Dual Inverter AC</a></h3>
              <div class="card-bottom d-flex justify-content-between my-2">
                <div class="small opacity-5 mb-2"></div>
                <div class="small opacity-5 mb-2"></div>
              </div>
            </div>
            <div>
            
                  
            </div>
          </div>
        </div>
        </div>
        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
        <div data-pid="873" class="card-search card-zoom card-shadowx card-top-image clearfix border-0 ">
            <figure> <a href="javascript:void(0)">
               <img data-src="/assets/wp-includes/images/freeze.png" class="img-fluid lazy" alt="Example Auction 12">
           
            </a>
            <div class="fbit top-right p-0 z-1">		
                <a href="javascript:void(0)" class="favs_add">
               <i class="fa fa-heart"></i>  						</a>
              </div>
          </figure>
            <div class="card-body  py-3 bg-white">
            <div class="card-top">
              <h3 class="mb-1 font-weight-normal"><ahref="#">Samsung 192 L Direct Cool Single Door 4 Star Refrigerator</a></h3>
              <div class="card-bottom d-flex justify-content-between my-2">
                <div class="small opacity-5 mb-2"><a href='#' class=''></a></div>
                <div class="small opacity-5 mb-2"></div>
              </div>
            </div>
            <div>
     
                  
            </div>
          </div>
        </div>
        </div>
  
    
  
   
  </div> </div>
    </div>
    </section>



    




<script> 
jQuery(document).ready(function(){ 
 	
		 
	var owl = jQuery("#stores1-carousel-483335814 .owl-carousel").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        dots: false,
		 
        responsive: {
            0: {
                items: 2
            },
			 
            600: {
                items: 3
            },
			
			 
			
            1000: {
                items: 5            }
        },        
    }); 
	
	owl.owlCarousel();
 
  jQuery("#stores1-carousel-483335814 .next").click(function(){
    owl.trigger('next.owl.carousel');
  })
  jQuery("#stores1-carousel-483335814 .prev").click(function(){
    owl.trigger('prev.owl.carousel');
  })
	
	
	});		 
</script>

<style>
.block-header{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;margin-bottom:24px; font-size:28px;font-weight:700; }
.block-header__title{margin-bottom:0;font-size:20px;}
.block-header__divider{-ms-flex-positive:1;flex-grow:1;height:2px;background:#ebebeb;}
.block-header__title+.block-header__divider{margin-left:16px;}
@media (max-width:767px){
.block-header{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
</style>

<style>
.testomonial-2{
    padding-left: 80px;
    position: relative;
    padding-top: 10px;
}
.testomonial-2-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
.testomonial-2-img img{
    width: 100%;
    height: auto;
}

</style>


 

<%- include ("../footer-include/footer") %>
</main>
</div>
<%- include ("../css-and-js-include/script-include") %>




</body>

</html>